
@font-face {
    font-family: "Roboto 500";
    src: local("(*%$@#@"), url("../fonds/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Roboto 400";
    src: local("(*%$@#@"), url("../fonds/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Roboto 300";
    src: local("(*%$@#@"), url("../fonds/Roboto-Light.ttf") format("truetype");
    font-style: normal;
}